################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Classly/CopilotIndices/17.14.995.13737
/.vs
/bin/Debug/net8.0
/obj
/Models/TestKeys.cs
/bin/Release/net8.0/linux-x64
/publish
/appsettings.json
/appsettings.Development.json
