@model User
<h1>Forgotten password</h1>

@if(ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
@if(ViewBag.Success != null)
{
    <div class="alert alert-success">
    <p>
        Reset Link:
        @Url.Action(
        "UpdatePassword",
        "Login", // controller name if needed
        new { code = ViewBag.TempCode },
        Context.Request.Scheme,
        Context.Request.Host.ToString()
        )

</p>
</div>

}

<form method="post">
    <label>Users email address</label>
    @Html.TextBoxFor(m => m.Email)

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
