@model User

<h1>Update Password</h1>

@if(ViewBag.Error != null)
{
    <div class="alert alert-danger">There was an issue updating your password</div>
}

<form method="post">
    <label>email address</label>
    @Html.TextBoxFor(m => m.Email)
    <label>New Password</label>
    @Html.PasswordFor(m => m.Password)

    <button type="submit" class="btn btn-primary">Submit</button>
</form>