<h1>Welcome to Classly!</h1>

<div>
    <button onclick="location.href='@Url.Action("Register", "Login")'">Register</button>
    OR
    <button onclick="location.href='@Url.Action("Login", "Login")'">Sign-in</button>
</div>